* {
  font-family: "Poiret One", sans-serif;
  margin: 0;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1rem solid darkred;
  height: 100vh;
}

.section#hot {
  background-image: url("assets/hot.jpg");
}

.section#juicy {
  background-image: url("assets/juicy.jpg");
}

.section#cosy {
  background-image: url("assets/cosy.jpg");
  border-bottom: none;
}

.section .header {
  color: darkred;
  font-family: "Spirax", sans-serif;
  font-size: 6rem;
}

.section .box {
  color: whitesmoke;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  width: 500px;
}

.section .box.red {
  background-color: rgba(139, 0, 0, 0.8);
  position: relative;
  text-align: center;
}

.section .box.red.first {
  right: 5rem;
}

.section .box.red.second {
  left: 5rem;
}

.section .box.black {
  background-color: rgba(0, 0, 0, 0.8);
}

.section .box.black .row {
  display: flex;
  justify-content: space-between;
}
