* {
  font-family: "Poiret One", sans-serif;
  margin: 0;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1rem solid darkred;
  height: 100vh;
}

.section#hot {
  background-image: url("assets/hot.jpg");
}

.section#juicy {
  background-image: url("assets/juicy.jpg");
}

.section#cosy {
  background-image: url("assets/cosy.jpg");
  border-bottom: none;
}

.section .header {
  color: darkred;
  font-family: "Spirax", sans-serif;
  font-size: 6rem;
}
